# Thư mục chứa các file được biên dịch và tạo tự động
/build/
/dist/
/out/
/nbproject/

# Thư mục chứa tài sản game (hình ảnh, icon, map...)
/data/

# Các file log và file tạm
*.log
*.tmp

# Các file cấu hình của IDE
/.idea/
*.iml